{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
	{% if user %}
	<blockquote>A process cannot be understood
	by stopping it. Understanding must move
	with the flow of the process, must join it
	and flow with it. &mdash; <a target="_blank"
	href="https://www.dunenovels.com/novel/dune">Frank Herbert</a></blockquote>

        <p>You are logged in from a new account with a zero balance. Contact us to fund your account.</p>
	{% else %}
            <p><a class="btn btn-primary" href="{{ url_for('login') }}">Log in with GitHub</a></p>
	{% endif %}
        </div>
    </div>
{% endblock %}

