<!-- begin include offer-form -->
<form id="offerForm" method="POST" action="{{url_for('offer')}}" class="form" role="form">
	{{ form.csrf_token }}
	{{ form.issue }}
	{% if form.show_errors and form.errors %}
		<ul class="errors">
			{% for field_name, field_errors in form.errors|dictsort if field_errors %}
				{% for error in field_errors %}
					<li>{{ form[field_name].label }}: {{ error }}</li>
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}

    <table width="100%"><tr><td>
		<h3>1. Choose a side to invest in.</h3>
		<p>You are offering to form a futures contract that will pay out or not depending on whether issue {{issue.id}} is fixed on a certain date.
		Select FIXED to earn tokens if the issue is fixed by the maturity date, and select UNFIXED to earn tokens if the issue is not fixed.</p>
        <p>Invest in the <select id="fund-fix">
            <option value="">Select FIXED or UNFIXED</option>
            <option value="FIXED">FIXED</option>
            <option value="UNFIXED">UNFIXED</option>
        </select>
        <a style="color: black; text-decoration: none" href="/issue/{{issue.id}}" target="_blank">side of issue {{ issue.issuenumber }}</a></p>

    </td></tr></table>

	<h3>2. Choose a maturity date.</h3>

	<p>If a contract is formed, it will be resolved on this date.</p>

    <table width="100%">
        <tr><th colspan="2">Matures on</th><th>&nbsp;</th></tr>
        <tr><td colspan="2">
            {% for maturity in maturities %}
            <button id="maturity-{{ maturity.id }}" type="button" title="{{ maturity.display }}"
                    class="btn btn-primary">{{ maturity.display }}</button>
            {% endfor %}
        </td></tr>
    </table>

	<h3>3. Choose how many tokens you want to offer, and how many your counterparty will have to offer.</h3>
    <table>
        <tr><td class="offer-label" id="fixer-before-label">Payout for the FIXED side</td><td><input id="funder-pays" size=5></td>
            <td id="fixer-after-label">(if fixed)</td></tr>
        <tr><td class="offer-label" id="funder-before-label">Payout for the UNFIXED side</td><td><input id="worker-pays" size=5></td>
            <td id="funder-after-label">(if unfixed)</td></tr>
        <tr><td>Contract payout</td><td><input readonly="readonly" id="contract-payout" size=5></td><td></td></tr>
    </table>

	<p>&nbsp;</p>

	<h3>4. Review your offer, then click <q>Place offer</q></h3>

    <p id="advanced">The offer is for {{ form.quantity(size=4) }} units of {{ form.side }} at a price of {{ form.price(size=5) }}
    with a maturity date of {{ form.maturitydate(size=10) }} {{ form.maturity }}.
	<span class="nobr">Estimated fee: <input id="fee" readonly="readonly" size="3"></input>.</span></p>

    <div id="win-loss-explain">
	  <p>If this issue is <span id="other-side-dup">resolved as a loss</span> on <b id="maturity-dup-1">the maturity date</b>:
	  You will lose your payment of <input id="detail-invest" readonly="readonly" size="4"></input> tokens.</p>

      <p>If this issue is <span id="this-side-dup">resolved as a win</span> on <b id="maturity-dup-2">the maturity date</b>:
	  You will receive the contract payout of <input readonly="readonly" size="5" id="contract-payout-dup"></input> tokens,
	  <span class="nobr">which reflects a transaction fee of
	  <input id="detail-fee" readonly="readonly" size="3"></input> tokens,</span>
	  calculated based on 10% of your anticipted profit.</p>
	</div>

    <p>
        {{ form.submit(class_="btn btn-primary btn-lg") }}
    </p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>


	<p><tt>market offer
		--side=<span id="cmd-side">_</span>
		--quantity=<span id="cmd-quantity">NaN</span>
		--price=<span id="cmd-price">NaN</span>
		--iid={{issue.id}}
		--mid=<span id="cmd-mid">NaN</span>
	</tt><p>

</form><!-- end include offer-form -->

<!-- vim: autoindent textwidth=100 shiftwidth=4 expandtab softtabstop=4 filetype=html
-->
