<!-- begin include offer-form -->
<form id="offerForm" method="POST" action="{{url_for('offer')}}" class="form" role="form">
	{{ form.csrf_token }}
	{{ form.issue }}
	{% if form.show_errors and form.errors %}
		<ul class="errors">
			{% for field_name, field_errors in form.errors|dictsort if field_errors %}
				{% for error in field_errors %}
					<li>{{ form[field_name].label }}: {{ error }}</li>
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}

    <table width="100%"><tr><td>
		<h3>1. Choose a side to invest in.</h3>
		<p>You are offering to form a futures contract that will pay out or not depending on whether issue {{issue.id}} is fixed on a certain date.
		Select FIXED to earn tokens if the issue is fixed by the maturity date, and select UNFIXED to earn tokens if the issue is not fixed.</p>
        {{form.side}}

        <a style="color: black; text-decoration: none" href="/issue/{{issue.id}}" target="_blank">side of issue {{ issue.issuenumber }}</a></p>

    </td></tr></table>

	<h3>2. Choose a maturity date.</h3>

	<p>If a contract is formed, it will be resolved on this date.</p>

	{{ form.maturity }}

	<h3>3. Choose a quantity and price.</h3>

	<p>Quantity {{ form.quantity(size=4) }}</p>
	<p>Price {{ form.price(size=5) }}</p>

	<p>&nbsp;</p>

	<h3>4. Review your offer, then click <q>Place offer</q></h3>


    <div id="win-loss-explain">
	  <p>If this issue is <span id="other-side-dup">resolved as a loss</span> on <span id="maturity-dup-1">the maturity date</span>:
	  You will lose your payment of <span id="detail-invest">_</span> tokens.</p>

      <p>If this issue is <span id="this-side-dup">resolved as a win</span> on <span id="maturity-dup-2">the maturity date</span>:
	  You will receive the contract payout of <span id="contract-payout">_</span> tokens,
	  <span class="nobr">which reflects a transaction fee of
	  <span id="detail-fee">_</span> tokens,</span>
	  calculated based on 10% of your anticipted profit.</p>
      <p>You may cancel this offer at any time until it is accepted. If part of this offer is accepted, you may cancel the remaining part.</p>
	</div>

    <p>
        {{ form.submit(class_="btn btn-primary btn-lg") }}
    </p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>


	<p><tt>market offer
		--side=<span id="cmd-side">_</span>
		--quantity=<span id="cmd-quantity">NaN</span>
		--price=<span id="cmd-price">NaN</span>
		--iid={{issue.id}}
		--mid=<span id="cmd-mid">NaN</span>
	</tt><p>

</form><!-- end include offer-form -->

<!-- vim: autoindent textwidth=100 shiftwidth=4 expandtab softtabstop=4 filetype=html
-->
