<!-- begin include offer-form -->
<form id="offerForm" method="POST" action="{{url_for('offer')}}" class="form" role="form">
	{{ form.csrf_token }}
	{{ form.issue }}
	{% if form.show_errors and form.errors %}
		<ul class="errors">
			{% for field_name, field_errors in form.errors|dictsort if field_errors %}
				{% for error in field_errors %}
					<li>{{ form[field_name].label }}: {{ error }}</li>
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}

    <table width="100%"><tr><td>
		<h3>Place an offer.</h3>
		<p>Select FUND if you would like to fund the work on this issue, and select FIX if you would
		  like to earn tokens when the issue is fixed.</p>
        <p>Create offer to <select id="fund-fix">
            <option value="">Select FUND or FIX</option>
            <option value="FIXED">FIX</option>
            <option value="UNFIXED">FUND</option>
        </select>
        <a style="color: black; text-decoration: none" href="/issue/{{issue.id}}" target="_blank">issue {{ issue.issuenumber }}</a></p>

    </td></tr></table>

    <table>
        <tr><td id="fixer-before-label">Reward to worker</td><td><input id="funder-pays" size=5></td>
            <td id="fixer-after-label">(if fixed)</td></tr>
        <tr><td id="funder-before-label">Indemnity to be paid to funder</td><td><input id="worker-pays" size=5></td>
            <td id="funder-after-label">(if unfixed)</td></tr>
        <tr><td>Contract payout</td><td><input readonly="readonly" id="contract-payout" size=5></td><td></td></tr>
    </table>

    <table width="100%">
        <tr><th colspan="2">Matures on</th><th>&nbsp;</th></tr>
        <tr><td colspan="2">
            {% for maturity in maturities %}
            <button id="maturity-{{ maturity.id }}" type="button" title="{{ maturity.display }}"
                    class="btn btn-primary">{{ maturity.display }}</button>
            {% endfor %}
        </td></tr>
    </table>

    <p id="advanced">(The offer is for {{ form.quantity(size=4) }} units of {{ form.side }} at a price of {{ form.price(size=5) }}
    with a maturity date of {{ form.maturitydate(size=10) }} {{ form.maturity }}.
	Estimated fee: <input id="fee" readonly="readonly" size="3"></input>.)</p>

    <div id="win-loss-explain">
	  <p>If this issue is <span id="other-side-dup">resolved as a loss</span> on <b id="maturity-dup-1">the maturity date</b>:
	  You will lose your payment of <input id="detail-invest" readonly="readonly" size="4"></input> tokens.</p>

      <p>If this issue is <span id="this-side-dup">resolved as a win</span> on <b id="maturity-dup-2">the maturity date</b>:
	  You will receive the contract payout, which reflects a transaction fee of
	  <input id="detail-fee" readonly="readonly" size="3"></input> tokens, calculated based on 
       10% of your anticipted profit.</p>
	</div>

    <p>
        {{ form.submit(class_="btn btn-primary btn-lg") }}
    </p>

	<p><code>market offer side=<span id="cmd-side">_</span> price=<span id="cmd-price">NaN</span> iid={{issue.id}} mid=<span id="cmd-mid">NaN</span></code><p>

</form><!-- end include offer-form -->

<!-- vim: autoindent textwidth=100 shiftwidth=4 expandtab softtabstop=4 filetype=html
-->
