{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="row"><div class="col-md-6">
    	<h2>Your info</h2>
	<p>Balance: {{ user.display_balance }}</p>
	<p>Profile: <a href="{{ user.profile }}">{{ user.username }}</a></p>
    </div>
    <div class="col-md-6">
    	<h2>Recent market activity</h2>
		<div class="iframe-container">
			<iframe src="/measure_frame" allowfullscreen></iframe>
		</div>

	<p>{% if user and user.banker %}<a href="/ticker" target="_blank" class="btn btn-primary">Download recent activity (CSV)</a>{% endif %}	
	</p>
    </div></div>

    <div class="row"><div class="col-md-12">
    	<h2 id="contracts">Your contracts</h2>
	</div></div>
    {% include 'contracts-section.html' %}

    <div class="row"><div class="col-md-12">
		<h2 id="contracts">Your offers</h2>
	</div></div>
    {% include 'offers-section.html' %}

    <div class="row"><div class="col-md-12">
    <h2>Messages to you</h2>
	</div></div>
    {% include 'message-section.html' %}

{% endblock %}


<!-- vim: autoindent textwidth=100 shiftwidth=4 expandtab softtabstop=4 filetype=html
-->
